* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	font-family: Georgia, serif;
	background: #f5f5f5 url(../images/dust.png);
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -155px;
}

.contained {
	display: block;
	max-width: 640px;
	margin: 0 auto;
}

.full-width {
	/*background: #37475b;*/
	float: left;
	width: 100%;
}


header {
	background: #37475b;
	margin: 0 0 30px;
	font-family: "trebuchet ms", serif;
}

a.logo {
	color: #fff;
	text-decoration: none;
	float: left;
	position: bottom;
	margin: 20px 0 0;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
}

/***** MAIN NAV *****/

nav {
	float: right;
	margin: 20px 0 0;
}

nav li {
	display: inline-block;
	padding: 15px 0;
}

nav a {
	padding: 10px 15px;
	margin: 0 0 0 5px;
	text-decoration: none;
	color: #fff;
}



/***** MAIN CONTENT *****/

article {
	padding: 10px;
}

h1 {
	font: bold 24px "Palatino Linotype", Palatino, serif;
	color: #333;
	padding: 10px 10px 0;
}

article p {
	color: #666;
	font-size: 18px;
	line-height: 130%;
	padding: 10px;
}

article p code {
	font-size: 16px;
}

.poster {
	color: #f5f5f5;
	background: #37475b;
	text-align: center;
}

.poster h2{
	display: block;
	
	padding: 50px;
	font: bold 105px "trebuchet ms", serif;
	line-height: 45px;
	text-transform:uppercase;
	letter-spacing: -5px;
	text-shadow: 0 2px 1px rgba(27,36,46,0.4);
}

.poster small{
	font-size: 45px;
	letter-spacing: -2px;
	line-height: 15px;
}

/***** FOOTER *****/
.push {
	height: 155px;
}

footer {
	height: 155px;
	color: #333;
	font-size: 85%;
}

hr {
	width: 50%;
	margin: 0 auto;
}

footer a {
	color: #333;
	text-decoration: none;
}

.site-info {
	padding: 20px;
	text-align: center;
}

.site-info p {
	
}